In [35]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [63]:
df = pd.read_csv("titanic/train.csv")
df.loc[df.Age.isnull()] = 0
df["AgeRank"] = (np.maximum(df.Age - 5, 0) // 10).pipe(lambda x: list(map(int, x)))

In [64]:
df2 = df.groupby(["Embarked", "AgeRank"]).size().reset_index(name="count")

In [65]:
df.Embarked.isnull().sum()

2

In [66]:
df.Embarked.unique()

array(['S', 'C', 0, 'Q', nan], dtype=object)

In [67]:
df2

   Embarked  AgeRank  count
0         0        0    177
1         C        0     15
2         C        1     35
3         C        2     32
4         C        3     21
5         C        4     16
6         C        5      8
7         C        6      3
8         Q        0      4
9         Q        1      9
10        Q        2      8
11        Q        3      4
12        Q        5      1
13        Q        6      2
14        S        0     59
15        S        1    156
16        S        2    161
17        S        3     94
18        S        4     57
19        S        5     21
20        S        6      5
21        S        7      1